<header class="main_sidebar">
  <div id="sidebar_logo">
    <img src="{{ url("theme://images/logo2.png" ~ widget.image) }}"/>
  </div><!--end sidebar logo-->
  <i id="mobile_menu_button">
    <svg width="36px" height="24px" viewBox="0 0 36 24">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Home-Page-Mobile" transform="translate(-36.000000, -73.000000)">
                <g id="ic_menu" transform="translate(30.000000, 61.000000)">
                    <polygon id="Shape" points="0 0 48 0 48 48 0 48"></polygon>
                    <path d="M6,36 L42,36 L42,32 L6,32 L6,36 L6,36 Z M6,26 L42,26 L42,22 L6,22 L6,26 L6,26 Z M6,12 L6,16 L42,16 L42,12 L6,12 L6,12 Z" id="Shape" fill="#ffffff"></path>
                </g>
            </g>
        </g>
    </svg>
  </i>
  <div id="mobile_logo">
    <img src="{{ url("theme://images/logo2.png" ~ widget.image) }}"/>
  </div>
  <div class="sidebar_content">
    <nav class="sidebar_nav">
      <ul id="menu_push">
            {% for page in pages.children.visible %}
              {% if page.children.visible.count < 1 %}
                <li>
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
              {% else %}
              <li class="has-sub">
                  <a href="javascript:void(0)">
                      {{ page.menu }}
                  </a>
                    {% for child in page.children %}
                      <ul class="sub-menu">
                        {% if child.visible %}
                          <li><a href="{{ child.url }}">{{ child.menu }}</a></li>
                        {% endif %}
                      </ul>
                    {% endfor %}
                </li>
                {% endif %}
            {% endfor %}
      </ul>
      <div class="mobile_third">
        <ul class="menu-slideIn">
          <a class="menu_back"><&nbsp; Back</a>
          <!--Append mobile 3rd levels here on sub-click-->
        </ul>
      </div>
    </nav>
  </div>
  <div class="sidebar_social">
    <i id="side_linkedin">
      <a href="#">
      <svg width="40px" height="40px" viewBox="0 0 40 40">
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Default-Left-Nav" transform="translate(-37.000000, -1013.000000)" fill="#010039">
                  <g id="Social-Icons" transform="translate(37.000000, 1012.000000)">
                      <path d="M20.002634,1 C8.95561702,1 0,9.95561702 0,21.002634 C0,32.044383 8.95561702,41 20.002634,41 C31.044383,41 40,32.044383 40,21.002634 C40,9.95561702 31.044383,1 20.002634,1 L20.002634,1 Z M11.2946135,17.7891479 L14.9822205,17.7891479 L14.9822205,29.9055709 L11.2946135,29.9055709 L11.2946135,17.7891479 Z M12.9224286,16.7355459 L12.8960885,16.7355459 C11.5211379,16.7355459 10.6361122,15.6872119 10.6361122,14.5229817 C10.6361122,13.3376794 11.5474779,12.3736336 12.9487686,12.3736336 C14.3447913,12.3736336 15.2034769,13.3692875 15.2350849,14.5545898 C15.2350849,15.71882 14.3447913,16.7355459 12.9224286,16.7355459 L12.9224286,16.7355459 Z M30.2594495,29.9055709 L25.5182405,29.9055709 L25.5182405,23.7683393 C25.5182405,22.1405242 24.9756355,21.0342421 23.4953246,21.0342421 C22.3679705,21.0342421 21.7147373,21.7822995 21.4197287,22.5040169 C21.3091005,22.7621493 21.3038325,23.120374 21.3038325,23.4838667 L21.3038325,29.9055709 L17.2263927,29.9055709 C17.2263927,29.9055709 17.2790728,18.8427499 17.2263927,17.7891479 L21.3038325,17.7891479 L21.3038325,19.8594758 C21.8306335,19.0376663 23.0949559,17.8629 25.265376,17.8629 C27.9573291,17.8629 30.2594495,19.5855393 30.2594495,23.3047544 L30.2594495,29.9055709 L30.2594495,29.9055709 Z" id="Linkedin"></path>
                  </g>
              </g>
          </g>
      </svg>
      </a>
    </i>
    <i id="side_twitter">
      <a href="#">
        <svg width="40px" height="40px" viewBox="0 0 40 40">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Default-Left-Nav" transform="translate(-102.000000, -1013.000000)" fill="#010039">
                    <g id="Social-Icons" transform="translate(37.000000, 1012.000000)">
                        <path d="M85.002634,1 C73.955617,1 65,9.95561702 65,21.002634 C65,32.044383 73.955617,41 85.002634,41 C96.044383,41 105,32.044383 105,21.002634 C105,9.95561702 96.044383,1 85.002634,1 L85.002634,1 Z M92.6043724,16.7618859 C92.6096405,16.9409983 92.6149085,17.1201106 92.6149085,17.299223 C92.6149085,22.7832214 88.5427367,29.1101014 81.0990386,29.1101014 C78.8127222,29.1101014 76.6844462,28.4199921 74.8933228,27.2452259 C75.2094034,27.2821019 75.530752,27.303174 75.8573686,27.303174 C77.7538522,27.303174 79.5028316,26.6394047 80.8883182,25.5278546 C79.1129988,25.4909785 77.622152,24.2951403 77.105887,22.6462531 C77.3534835,22.6936652 77.606348,22.7200053 77.8644804,22.7200053 C78.2385092,22.7200053 78.6388779,22.6673252 78.9760306,22.572501 C77.121691,22.1932043 75.7678125,20.5127091 75.7678125,18.5003293 L75.7678125,18.4529172 C76.2946135,18.7584617 76.9004346,18.9481101 77.5642039,18.9691821 C76.4737258,18.2263927 75.7414724,16.9515343 75.7414724,15.5133676 C75.7414724,14.7547741 75.9311208,14.0383248 76.2788094,13.4272356 C78.2753852,15.9400764 81.2518109,17.5889635 84.6180693,17.7628078 C84.5443171,17.4572633 84.5100751,17.1411827 84.5100751,16.8198341 C84.5100751,14.5282497 86.3206901,12.6686422 88.5548532,12.6686422 C89.7190834,12.6686422 90.7716318,13.1691031 91.5091532,13.9751087 C92.4310549,13.7907283 93.2950086,13.4483077 94.0799421,12.9689187 C93.7796655,13.9382326 93.1364415,14.7547741 92.2988279,15.2657711 C93.1206374,15.1656789 93.9003029,14.9444225 94.6220203,14.6125379 C94.0846833,15.4448834 93.3945739,16.1771368 92.6043724,16.7618859 L92.6043724,16.7618859 Z" id="Twitter"></path>
                    </g>
                </g>
            </g>
        </svg>
      </a>
    </i>
    <i id="side_facebook">
      <a href="#">
        <svg width="41px" height="41px" viewBox="0 0 41 41">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Default-Left-Nav" transform="translate(-168.000000, -1012.000000)" fill="#010039">
                    <g id="Social-Icons" transform="translate(37.000000, 1012.000000)">
                        <path d="M151.467695,0 C140.163835,0 131,9.16383511 131,20.4676952 C131,31.7661649 140.163835,40.93 151.467695,40.93 C162.766165,40.93 171.93,31.7661649 171.93,20.4676952 C171.93,9.16383511 162.766165,0 151.467695,0 L151.467695,0 Z M161.423933,29.1194337 C161.423933,29.7231687 161.127456,30.3651762 160.529111,30.3651762 L155.494392,30.3651762 L155.494392,22.8184885 L158.054876,22.8184885 L158.442991,19.5841937 L155.494392,19.5841937 L155.494392,17.6538588 C155.494392,16.7913802 155.726183,16.349899 156.965996,16.349899 L158.728687,16.349899 L158.728687,13.530133 C158.189638,13.4923996 157.354112,13.4115422 156.259842,13.4115422 C153.985055,13.4115422 152.260097,14.802289 152.260097,17.3573818 L152.260097,19.5841937 L149.564852,19.5841937 L149.564852,22.8184885 L152.260097,22.8184885 L152.260097,30.3651762 L142.923767,30.3651762 C142.320032,30.3651762 142.018164,29.7231687 142.018164,29.1194337 L142.018164,11.5140893 C142.018164,10.9103543 142.320032,10.4203586 142.923767,10.4203586 L160.529111,10.4203586 C161.127456,10.4203586 161.423933,10.9103543 161.423933,11.5140893 L161.423933,29.1194337 L161.423933,29.1194337 Z" id="Facebook"></path>
                    </g>
                </g>
            </g>
        </svg>
      </a>
    </i>
  </div>
</header>
