<header class="search">
  <form>
    <input type="search" placeholder="Search for a Loan, Service, or Program" data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route}}/query" value="{{ query }}"></input>
    <i id="search_icon">
      <svg width="30px" height="30px" viewBox="0 0 30 30">
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="GlobalSearch" transform="translate(-1608.000000, -45.000000)" fill="#C7C7C7">
                  <path d="M1628.2918,69.0742284 C1626.22867,70.4284843 1623.76038,71.2162074 1621.1081,71.2162074 C1613.8687,71.2162074 1608,65.3475098 1608,58.1081037 C1608,50.8686976 1613.8687,45 1621.1081,45 C1628.34751,45 1634.21621,50.8686976 1634.21621,58.1081037 C1634.21621,60.7775063 1633.41828,63.2605426 1632.04792,65.3317099 L1638,71.2837854 L1634.25068,75.0331088 L1628.2918,69.0742284 Z M1621.1081,67.4710349 C1626.27911,67.4710349 1630.47103,63.2791081 1630.47103,58.1081037 C1630.47103,52.9370993 1626.27911,48.7451725 1621.1081,48.7451725 C1615.9371,48.7451725 1611.74517,52.9370993 1611.74517,58.1081037 C1611.74517,63.2791081 1615.9371,67.4710349 1621.1081,67.4710349 Z" id="magnifier"></path>
              </g>
          </g>
      </svg>
    </i>
  </form>
  {% if config.plugins.simplesearch.display_button %}
      <button class="search-submit"><img src="{{ url('plugin://simplesearch/assets/search.svg') }}" /></button>
  {% endif %}
</header>
<script>
jQuery(document).ready(function($){
    var input = $('[data-search-input]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length >= {{ config.get('plugins.simplesearch.min_query_length', 3) }}) {
            event.preventDefault();
            window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
        }
    });

    $('.search-submit').on('click', function(event) {
        event.preventDefault();
        window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
    });
});
</script>
